/* font related styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.bg-linear-grad {
    background: linear-gradient(180deg,
            rgba(19, 19, 19, 0.747) 0%,
            rgb(30, 30, 30) 50%,
            rgba(1, 1, 1, 0.719) 100%);
}

.bg-dark {
    background-color: rgba(17, 17, 17, 1);
}

.txt-color {
    color: rgba(255, 255, 255, 1)
}

.txt-opacity {
    opacity: 50%;
}

.display-flex {
    display: flex;
}

.in-shape {
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 0px;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;
}

.description {
    opacity: 50%;
}

.secondary-bg {
    background-color: #222222;
}

.btn-primary {
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    padding: 16px 46.5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    margin-top: 20px;
}

button:hover {
    background-color: #f77d77;
}

.btn-secondary {
    background-color: black;
    color: rgba(255, 255, 255, 1);
    padding: 16px 46.5px;
    font-size: 18px;
    font-weight: 600;
    border: 1px;
    border-radius: 42px;
}

/* header styles */


/* navbar related style */

.hide {
    display: none;
}

.navbar {
    justify-content: space-between;
}

.nav-item {
    /* border: 1px solid gray; */
    /* border-radius: 20px; */
    padding: 10px 20px;
}

.brand {
    font-weight: 800;
    font-size: 36px;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    margin-top: 50px;
}

.nav-container {
    list-style: none;
    margin-right: 47px;
    margin-top: 27px;
}

.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.orange {
    background-color: rgba(230, 83, 60, 1);
    border-radius: 20px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
}

/* banner related styles */

.banner-text {
    height: 281px;
    width: 520px;

}

.banner-title {
    font-size: 78px;
    font-weight: 900;
}

.banner-container {
    display: flex;
}

.designed-image{
    position: relative;
}

/* tab related styles */


.box-sizing1 {
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    color: rgb(250, 250, 249);
    border: 1px;
    border-radius: 12px;
    width: 193px;
    height: 98px;
    position: absolute;
}

#numeric1{
    font-size: 24px;
    font-weight: 900;
}

#number-section1{
    padding: 20px 63px 52px 75px;
    margin-top: -157px;
    margin-left: -140px;
}


.box-sizing2 {
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    color: rgb(250, 250, 249);
    border: 1px;
    border-radius: 12px;
    position: absolute;
}

#numeric2{
    font-size: 48px;
    font-weight: 900;
}

#number-section2{
    padding: 17px 53px 41px 24px;
    margin-top: -457px;
    margin-left: 240px;
}

/* change your habit related styles */

.habit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 58px;
    margin-top: 58px;
}

.round-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.habit-card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit-description{
    margin-bottom: 58px;
}

.banner-button {
    margin-top: 32px;
}

.habit-name {
    align-items: center;
}

/* run extra milage related style */

.promo-section {
    background-color: #222222;
    border-radius: 20px;
    margin-top: 101px;
}

.run-container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 32px;
}

.man-running {
    width: 366px;
    height: 312px;
    border-radius: 20px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.text-section {
    width: 443px;
}

/* bmi related styles */

.bmi-container {
    margin-top: 88px;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 187px;
    padding-right: 189px;
    justify-content: space-between;
}

.bmi-margin {
    margin-top: 200px;
}

.bmi-chart {
    width: 443px;
}


form {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
}

td {
    opacity: 70%;
}


.bmi-calculator {
    max-width: 577px;
}

.calculator-title {
    margin-bottom: 20px;
}

.calculator-description {
    opacity: 50%;
    margin-bottom: 34px;
}


.bmi-calculator input,
.bmi-calculator select {
    margin-bottom: 12px;
    grid-column: span 2;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #2d2d2d;
    color: white;
    opacity: 50%;
    font-size: 14px;
    box-sizing: border-box;
}







/* meet our team related style */

.team-container {
    margin-top: 58px;
    margin-bottom: 88px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 54px;
    justify-content: center;
}

.team-member img {
    width: 100%;

}

.team-1 {
    position: relative;
}

.team-text-1 {
    position: absolute;
    bottom: 0;
}

.meet-img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}

/* footer styles */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.footer-column {
    width: 443px;
    height: 176px;
}

.footer-column ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    padding-left: 0;
}

.footer-brand {
    width: 256px;
    height: 84px;
    font-weight: 800;
    font-size: 70px;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255);
    opacity: 50%;
}

.footer-get-started {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 39px;
}


/* All rights reserved text */
.footer-rights {
    text-align: center;
    margin-top: 20px;
    opacity: 50%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}




@media screen and (max-width: 576px) {

    .banner-container,
    .habit-container,
    .run-container {
        flex-direction: column;
    }

    .brand{
        padding-left: 20px;
    }

    .btn-primary{
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
        color: white;
    }

    .banner-text {
        height: 400px;
        width: 100%;
    }

    .banner-title {
        font-size: 30px;
        font-weight: 800;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .description{
        padding-left: 20px;
        font-size: 10px;
    }

    .banner-button{
        padding-left: 20px;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 80%;
    }

    .bmi-container {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section-title{
        width: 85%;
        font-size: 40px;
        font-weight: 700;
        padding-right: 25px;
    }

    .bmi-chart,
    .bmi-calculator {
        width: 80%;
        margin-bottom: 20px;
    }

    .nav-container {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .banner-button {
        margin-bottom: 200px;
    }

    .text-section,
    .bmi-container {
        width: 100%;
    }

    .man-running {
        width: 90%;
    }

    .description {
        margin-right: 20px;
    }

    .habit-container {
        width: 90%;
    }

    .habit-description{
        width: 80%;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    /* footer responsive */
    footer {
        flex-direction: column;
        padding: 50px 20px;
        gap: 40px;
        align-items: center;
    }


    .footer-column {
        width: 100%;
        text-align: center;
    }

    .footer-brand {
        font-size: 50px;
        width: auto;
        height: auto;
    }

    .footer-get-started {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .txt-opacity{
        padding-right: 25px;
    }
}